header {
  width: 100%;
  display: inline-block;

}

header div {
  float: left;
  padding: 10px;
}

#logo {
  padding: 10px;
  float: left;
}

hr {
  height: 6px;
	background: url(http://ibrahimjabbari.com/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

header ul {
  padding: 30px;
  float: right;
  display: inline-block;
}

li {
  display: inline-block;
}

header h1 {
  font-size: 46px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

header p {
  clear: both;
  color: grey;
  font-size: 8px;
  font-family: Arial, sans-serif;
}

main section h1 {
  font-weight: bold;
  font-family: Arial Narrow, sans-serif	;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 8px;
}

main section h3 {
  font-size: 14px;
  font-family: Arial Narrow, sans-serif	;
  color: grey;
}

#print {
  display: inline-block;
  float: right;
  margin-bottom: 12px;
  margin-top:-16px;
}

#print h4 {
  font-size: 14px;
  font-family: Arial Narrow, sans-serif	;
  float: right;
  color:grey;
 
}

#choco {
  display: block;
  margin-top: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}
.mainp{
  padding:14px;
  font-size:18px;
  color: darkgrey;
  text-indent:30px;
  line-height: 25px;
}
#theList{
 margin-left:auto;
 margin-right:auto;
 margin-bottom: 40px;
}
#list{
  position: absolute;
}
#listitems{
  margin-left: 70px;
  margin-right: 130px;
  margin-top:30px;
  /* column-count: 2; */
  column-fill: auto;
  column-width: 223px;
  position: relative; 
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif	;
  color: rgb(59, 36, 36);
  height:300px;
  }
  main section ul li{
    padding: 8px;

  }
  .checked{
    text-decoration: line-through;
  }
  #van{
    display:inline-block;
    float:left;
    width: 100%;
  }
  #van h2{
    padding:8px;
    font-family:Georgia, serif;
    font-size: 18px;
    font-weight:bold;
   
  }
  #van img{
    float:left;
    padding:20px;
  }
  #van p{
    font-family:Georgia, serif;
    color: grey;
    width: 640px;
    line-height: 20px;
  }
  #van button{
    color:white;
    background:rgb(175, 72, 72);
    float: right;
    padding:17px;
    margin-top:-55px;
  }
  footer{
    clear: both;
    text-align: center;
    color: grey;
  }
  footer hr{
    border-top: 1px solid grey;
  }
  footer img{
    opacity: 0.6;
  }
